html {
    scroll-behavior: smooth;
}

:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --third-title-color: #757575;
    --fourth-title-color: #f5f4fa;
    --fifth-title-color: #eeeeee;
    --sixth-title-color: #2f303a;
    --accent-title-color: #2196f3;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #212121;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-header {
    width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo1 {
    color: #2196f3;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    /*margin: 40px;*/
}

.navigation-link {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 4rem;
}

.active-link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    flex-basis: 300px;
    text-decoration: none;
    margin-right: 30px;
}

.contact-link {
    display: flex;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navegacion a otros sitios*/

.list-contact-link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding: 2rem;
}


/*a:hover {
    color: #2196f3;
}*/

a:is(:hover, :focus) {
    color: #2196f3;
}
    /* ----------------*/
    /* index -nuevo para mi tarea 3*/
    /* ----------------*/
    /* contenido unico de la pagina*/

.button-index:hover {
    background-color:  #085797;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    height: 600px;
    width: 1600px;
    background-color: #2f303a;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.h1-title {
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    padding-right: 280px;
    padding-left: 280px;
}

.button-index {
    color: #ffffff;
    background-color: #2196f3;
    border: 5px solid #2196f3;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
}

/*valores de la compañia*/

.container-values-container {
    display: flex;
    width: 1170px;
    height: 220px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    justify-content: space-between; 
    gap: 35px;
}

.values {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}

.values-qualification {
    display: contents;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
}

/* secciones*/

.container {
    display: flex;
    width: 1174px;
    height: 520px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.h2-title {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-left: 401px;
}

.show-images {
    display: flex;
    gap: 26px;
    padding-top: 122px;
    margin-right: 700pxs;
    margin-left: -820px;
    padding-bottom: 75px;
    justify-content: space-between;
}

.partner-container {
    /*display: flex;*/
    height: 648px;
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
    /*justify-items: center;*/
    padding-top: 80px;
    background-color: #f5f4fa;
}

.h2-title-partner {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-left: 668px;
    padding-bottom: 60px;
}

.partner-list-container {
    display: flex;
    width: 1177px;
    height: 368px;
    gap: 32px;
    /*background-color: aquamarine;*/
    margin-left: 211.5px;
    /*padding-bottom: 52px;*/
}

.partner-card-container {
    /*display: flex;*/
    box-sizing: border-box;
    width: 270px;
    height: 368px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.partner-image {
    display: flex;
}

.group-partner {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding-top: 30px;
}

.assignment {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

/*pie de pagina*/

.footer-container {
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 252px;
    padding-left: 211.5px;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f303a;
}

.footer-contact-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    text-decoration: none;
}

/*.add {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    text-decoration: none;
}*/

/* navegacion a otros sitios*/

/* --------------*/
/* portafolio*/
/* --------------*/

/* contenido unico de la pagina */

.buttons {
    display: flex;
    margin-top: 106px;
    padding-bottom: 56px;
    justify-content: center;
    flex-basis: calc(100%-32px)/5;
}

.active-button {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
}

.active-button-hover {
    color: #ffffff;
    background-color: #2196f3;
    cursor: pointer;
}

/*secciones*/

.services-container { /*cambio proyect por services*/
    display: flex;
    padding: 20px;
    padding-bottom: 90px;
    flex-wrap: wrap;
    gap: 20px;
}

.services-card { /*agrego services por nada*/
    box-sizing: border-box;
    width: 370px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12) 0px 4px 4px rgba(0, 0, 0, 0.6) 1px 4px 6px rgba(0, 0, 0, 0.14);
}

.services-image {
    display: block;
}

.card-heading {
    padding-right: 24px;
    padding-left: 24px;
}

.list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.list-services {
    color: #757575 !important;
    font-size: 16px;
    line-height: 1.9;
}

/* pie de pagina*/

.social-media {
    display: flex;
    order: -1;
    align-self: center;
    color: #ffffff;
    background-color: #2f303a;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}