html {
    scroll-behavior: smooth;
}

:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --third-title-color: #757575;
    --fourth-title-color: #f5f4fa;
    --fifth-title-color: #eeeeee;
    --sixth-title-color: #2f303a;
    --accent-title-color: #2196f3;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    font-style: normal;
    width: 1600px;
    height: 2410px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-header {
    display: flex;
    width: 1200px;
    height: 80px;
    flex-shrink: 0;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.border-box-container-header {
    border-bottom: 2.98px solid var(--third-title-color);
}

.logo1 {
    color: #2196f3;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    letter-spacing: 0.78px;
    margin: 0px;
}

.navigation-link {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 4rem;
}

.contact {
    display: flex;
    justify-content: end;
    width: 40%;
}


.active-link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    flex-basis: 300px;
    text-decoration: none;
    letter-spacing: 0.28px;
    margin-right: 50px;
}

.list-contact-link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    letter-spacing: 0.28px;
    margin-left: 40px;
}

.current {
    color: #2196f3;
}

a:is(:hover, :focus) {
    color: #2196f3;
}

.button-index:hover {
    background-color: #ffffff;
    color: #2196f3;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.title-container {
    background-color: #2f303a;
    display: flex;
    width: 1600px;
    height: 600px;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2.98px;
}

.h1-title {
    color: #ffffff;
    width: 696px;
    height: 120px;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.button-index {
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 261px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    background-color: #2196f3;
    border: 4px solid #2196f3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.container-values-container {
    display: flex;
    width: 1170px;
    height: 310px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center; 
    gap: 30px;
    align-items: baseline;
    padding-top: 94px;
}

.values {
    color: #212121;
    width: 270px;
    height: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.values-qualification {
    color: #757575;
    width: 270px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    padding-bottom: 94px;
}

.container {
    width: 1174px;
    height: 520px;
    margin-right: auto;
    margin-left: auto;
    justify-items: center;
} 

.h2-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    padding-top: 94px;
    margin-bottom: 56px;
}

.show-images {
    display: flex;
    width: 1174px;
    height: 323px;
    gap: 26px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.partner-container {
    background-color: #f5f4fa;
    width: 1600px;
    height: 648px;
    margin-right: auto;
    margin-left: auto;
    justify-items: center;
}

.h2-title-partner {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    padding-top: 94px;
    margin-bottom: 50px;
}

.partner-list-container {
    display: flex;
    width: 1177px;
    height: 368px;
    gap: 32px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}

.partner-card-container {
    box-sizing: border-box;
    width: 270px;
    height: 368px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.group-name-partner {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-top: 25px;
}

.assignment {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-top: 10px;
}

.footer-container {
    background-color: #2f303a;
    flex-shrink: 0;
    width: 1600px;
    height: 252px;
    padding-left: 211.5px;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.footer-contact-link {
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 231px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration: none;
}

.contact-link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration: none;
}

.container-button-services {
    display: flex;
    flex-shrink: 0;
    width: 611px;
    height: 54px;
    margin-right: auto;
    margin-left: 495px;
    margin-top: 106px;            
    justify-content: space-between;
    align-items: start;
}

.button-services-list {
    color: #212121;
    width: auto;
    height: 38px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    background-color: #f5f4fa;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    padding: 6px;
}

.button-services-list:hover {
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.services-list {
    display: flex;
    width: 1170px;
    height: 1272px;
    flex-shrink: 0;
    margin-top: 34px;
    margin-left: 215px;
    margin-right: auto;
    margin-bottom: 80px;
    flex-wrap: wrap;
    gap: 30px;
}

.services-card {
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    flex-shrink: 0;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12) 0px 4px 4px rgba(0, 0, 0, 0.6) 1px 4px 6px rgba(0, 0, 0, 0.14);
}

.services-image {
    display: block;
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

.services-group {
    color: #212121;
    width: 322px;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding-top: 15px;
    margin-left: 24px;
}

.h4-title {
    color: #757575;
    width: 322px;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    padding-bottom: 20px;
    margin-left: 24px;
}
