body {
    font-family: 'roboto', sans-serif;
    font-family: 'raleway', sans-serif;
    color: #212121;
    font-weight: 400;
}

.logo1 {
    color: #2196f3;
    font-family: raleway !important;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration:none;
    margin-right: 90px;
    
}

.nav {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;


}

    .button-index:hover {
        color: #2196f3;
        cursor: pointer;
}

.active-link {
        color: #212121;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        text-decoration: none;
        margin-right: 50px;        
          
}


.container {
        width: 1200px;    
        margin-left: auto;
        margin-right: auto;
}
   
a:active {
    color: #2196f3; 
 }
    /*enlace activo*/
 

    
